body {
    margin: 0;
    padding: 0;
    background-image: url(imagens/imagem_de_fundo.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 20px;
    margin: 10%;
    padding: 1% 5%;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;

}

main p {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

fieldset {
    border-radius: 20px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
}

fieldset a, #enviar {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(202, 202, 202);
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

legend {text-align: center;}

