* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/imagem_de_fundo.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 5%;
    background-color: white;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(243, 243, 243);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    padding: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 18px;
}

nav a:hover {
    background-color: rgb(202, 202, 202);
}

main {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 20% 0 20%;
    background-color: white;
    padding: 15px 40px;
}

section h2 {
    margin-bottom: 5px;
}

section hr {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
    font-size: 16px;
}

section figure {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

section img {
    max-width: 100%;
    height: auto;
}

.contribuicao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contribuicao a {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(202, 202, 202);
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

    footer {
        background-color: rgb(202, 202, 202);
        padding: 3% 10%;
}